#tsfm-ma-container {
    min-height: 70vh;
}
#tsfm-ma-left-container {
    border-right: 1px solid rgba(0,0,0,0.2);
}

#tsfm-ma-new-app-form-wrapper {
    display: none;
}

/* Styles for informational and error messages with typing effect */
#tsfm-ma-info-message {
    min-height: 1.5em; /* Ensure space is reserved for messages */
    margin-top: 10px;
}

.tsfm-ma-success-message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
}

.tsfm-ma-error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
}

.tsfm-ma-info-text {
    color: #0c5460;
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
    padding: 10px;
    border-radius: 5px;
}

/* Additional styles for app details */
#tsfm-ma-app-details-wrapper {
    display: none;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #f9f9f9;
}
