.theosumma-for-ministries_page_tsfm_test_theosumma #wpbody-content {
    height: 100%;
}

/* Basic styles for the wrapper */
#tsfm-test-theosumma {
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}

/* Styling the header bar */
#tsfm-test-theosumma h1 {
    display: none; /* Hide the title if not needed */
}

#tsfm-test-theosumma .header-bar {
    background-color: #FFBB5C;
    color: black;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}

/* Styling the "New Chat" button */
#tsfm-test-theosumma-new-chat {
    background-color: white;
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

#tsfm-test-theosumma-new-chat:hover {
    background-color: #e6e6e6;
}

/* Styling the iframe */
#ts-chat-widget-iframe, #ts-chat-placeholder {
    border: none;
    flex-grow: 1; /* Ensures iframe takes up the rest of the container */
    min-height: 90vh;
    background: #fff;
}

#tsfm-test-theosumma-new-chat:disabled {
    background: #ccc;
    color: #fff;
    cursor: not-allowed;
}

#tsfm-iframe-wrapper > iframe.show, #tsfm-iframe-wrapper > div.show {
    display: block;
}

#tsfm-iframe-wrapper > iframe.hidden, #tsfm-iframe-wrapper > div.hidden {
    display: none;
}